<title>Chat Application</title>

<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<script type="text/javascript" src="/frontend_libraries/jquery/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>

<link rel="stylesheet" type="text/css" href="/frontend_libraries/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">

<script type="text/javascript" src="/frontend_libraries/bootstrap/js/bootstrap.min.js"></script>